/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_base";

body {
	font-size: 13px;
	font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
	background: #fff;
	color: #000;
	line-height: 1.3em;
	/* font-weight: 300; */
}

/* link scheme */
/* you can customize links further down the page too */
a:link { text-decoration: none; color: #000; }
a:active { text-decoration: none; color: #00cc00; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: underline; }
a img { border: none; }

/* general styles */
small { font-size: 9px; }
code { font-family: monospace; }
blockquote { padding-left: 9px; }

/* headings */
h1 { font-size: 13px; margin-bottom: 1em; margin-top: 1em; font-weight: bold; width: 550px;}
h2 { font-size: 13px; margin-bottom: 1em; margin-top: 1em; font-weight: bold; width: 550px;}
h3 { font-size: 13px; margin-bottom: 1em; margin-top: 1em; font-weight: bold; width: 550px;}
h4 { font-size: 13px; margin-bottom: 1em; margin-top: 1em; }

/* paragraph width */
#index p { width: auto; margin-bottom: 1em; }
#exhibit p, code, blockquote { width: 450px; margin-bottom: 1em; /* line-height: 1.3em; */ }

/* list styling */
#exhibit ul{ list-style-type: disc; margin-bottom: 1.5em; margin-top: 1em; padding-left: 1em; width: 450px; }
#exhibit li{ list-style-type: disc; margin-bottom: 0.5em; margin-top: 0.5em;}

/* image styling */
#exhibit img{ border: 1px solid #ddd; margin-bottom: 1em; margin-top: 1em;}
#exhibit img.sinBorde{ border: none;}

/* highlighter style - maybe you want to change colors? */
.highlight { background: #ccff00; color: #000; }

/* never adjust the margin or padding here unless you seriously know what you are doing */
/* think #index .container and #exhibit .container for only padding adjustments */
#index { width: 215px; background: #fff; /* line-height: 1.3em; */ }
#exhibit { margin: 0 0 0 215px; }

/* styling the index */
#index ul { list-style: none; margin: 0; }
#index ul.section { margin-bottom: 1em; }
#index ul.subsection {  }

/* the follow rules for index are not required */
/* they are mostly for complex customization */
/* for tag display */
#index ul#all_tags { list-style-type: none; margin-bottom: 1em; }
#index ul#all_tags li { display: inline; margin-right: 3px; }
#index ul#all_tags li a {  }

/* active section title */
#index span.active_section_title,
#index span.active_section_title a { font-weight: normal; }

/* active exhibit title parts */
li.active a:link, li a.active, li.active a:hover, li a.active, li.active a:active, li a.active, 
li.active a:visited, li a.active, li span.active, #index ul.section li.active a:link, 
#index ul.section li.active a:hover, #index ul.section li.active a:active, #index ul.section li.active a:visited
{ font-weight: normal; }

/* additional #index options */
#index ul li .password a { /* background: url(../img/locked.gif) right center no-repeat; padding-right: 18px; */ }

/* the "new" indicator */
#index ul li sup { color: #0c0; font-weight: bold; text-transform: uppercase; font-size: 8px; vertical-align: top; }
/* end styling for index */

/* links styles only for the #index region */
#index a:link {  } 
#index a:hover {  } 
#index a:active {  } 
#index a:visted {  }

/* links styles only for the #exhibit region */
#exhibit a:link { text-decoration: underline; } 
#exhibit a:hover {  } 
#exhibit a:active {  } 
#exhibit a:visted {  } 

/* this is where you adjust your paddings for #index and #exhibit together */
.container { padding: 27px 9px 25px 27px; }

/* this is where you pad them separately */
#index .container {  }
#exhibit .container {  }

/* blog parts */
#entries_wrapper { width: 800px; }
#entries { width: 525px; float: left; }
#entries .entry { }
#entries .entry p { width: auto; }
#entries .entry .asset { margin-bottom: 9px; }
#entries .entry .captioning .title { margin-bottom: 9px; }
#entries .entry .captioning .caption { margin-bottom: 9px; }
#entries .entry_footer { margin-top: 12px; font-size: 11px; color: #999; }
#entries .entry_footer .entry_footer_pad {  }
#entries .separator { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px dotted #ccc; }
#entries_wrapper #sidebar { float: right; width: 200px; }
#entries ul#prev_new_entries {  }
#prev_new_entries  {  }
#prev_new_entries div#older { float: left; }
#prev_new_entries div#newer { float: right; text-align: right; }

.entry { margin-bottom: 18px; }
.blog-separator { border-top: 1px solid #ccc; margin-bottom: 27px; width: 460px; }

#plugins-list { margin-bottom: 18px; }

/* style forms */
.form-row {  }
.form-label {  }
.form-label label { padding-right: 24px; line-height: 2.2em; }
.form-input {  }
.form-submit {  }
.form-alert { margin-top: 9px; }
.form-alert .failed { color: red; }
#form-return { display: block; }
.form-submit input
{
	background-color: #333;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border: 0px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: 1;
	margin: 5px 0 0 0;
	padding: 9px 12px;
	font-size: 12px;
}
.form-submit input:hover
{
	background: #0c0;
}

input[type=text], input[type=password], textarea
{
	font: normal normal normal 1em/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0px 0px 0.5em;
	padding: 0.3em;
}

#exhibit #columned p { width: auto; }



/* BUTTONS */
/* http://particletree.com/features/rediscovering-the-button-element/ */
.buttons button a {
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:normal;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
	background-color: #333;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border: 0px;
	color: white;
	cursor: pointer;
	font-size: 1em;
	line-height: 1;
	margin: 5px 0 0 0;
	padding: 9px 12px;
	font-size: 12px;
}
.buttons button {
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
}
.buttons button { /* -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; */ }
.buttons button[type] {

}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
/* STANDARD */
.buttons a:hover {
    background-color:#0c0;
    /* border:1px solid #c2e1ef; */
    color:#fff;
	line-height: 1;
	margin: 5px 0 0 0;
	padding: 9px 12px;
	font-size: 12px;
}
.buttons a:active {
    background-color:#0c0;
    color:#fff;
	line-height: 1;
	margin: 5px 0 0 0;
	padding: 9px 12px;
	font-size: 12px;
}

/* walkthrough */
.walkthrough { position: relative; width: 905px; height: 655px; background: url(http://www.indexhibit.org/files/gimgs/screenshot1.png) no-repeat; }

/* dots */
.walkthrough-dot {
    height: 12px;
    width: 12px;
	position: absolute; 
}
.trigger:hover {
	border: 4px solid red;
	background: red;
}

/* title space */
#w1-1 { left: 94px; top: 133px; z-index: 1; }

/* basic editor */
#w1-2 { left: 148px; top: 170px; z-index: 2; }

/* publish */
#w1-3 { left: 770px; top: 140px; z-index: 3; }

/* options */
#w1-4 { left: 802px; top: 219px; z-index: 4; }

/* uploads */
#w1-5 { left: 792px; top: 317px; z-index: 5; }

/* files */
#w1-6 { left: 272px; top: 537px; z-index: 6; }

/* files options */
#w1-7 { left: 114px; top: 621px; z-index: 7; }

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
	width: 66px;
	background: #f3f3f3;
}
.trigger { 
	display: block;
	border: 4px solid #0c0;
	background: #0c0;
    -webkit-border-radius: 30px;
    height: 4px;
    width: 4px; 
}